<ContentPlaceholders @rounded={{true}} as |CP|>
    <div class="mb-3">
        <div class="w-25">
            <CP.heading />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <CP.heading />
            <CP.text @lines={{2}} />
            <CP.heading />
            <CP.text @lines={{1}} />
            <CP.heading />
            <CP.text @lines={{4}} />
            <CP.heading />
            <CP.text @lines={{1}} />
            <CP.heading />
            <CP.text @lines={{1}} />
        </div>
    </div>
</ContentPlaceholders>
