<footer class="footer mt-auto p-2 d-flex align-items-center justify-content-between small text-center text-white-50">
    <span class="d-none d-md-inline">{{t "brand.copywrite" htmlSafe=true}}</span>
    {{#if this.session.user.institutionBrandLogoUrl}}
        <img
            src={{this.session.user.institutionBrandLogoUrl}}
            alt=""
            role="presentation"
            class="ml-auto footer-branding-img"
        />
    {{/if}}
</footer>
