// ---------------------------
// Web Fonts
// ---------------------------
@import '../fonts';
// ---------------------------
// Global variables
// ---------------------------
@import '../variables';
// ---------------------------
// Theme variables
// ---------------------------
@import '../variables-theme';

// Application variables
// ---------------------------
$logo-path: '/assets/images/logo-dark.jpg';
$color-brand-primary: #2f3136;
$color-backdrop: #36393f;
// $color-backdrop: #474954;
// $color-primary-background: #545763;
$color-primary-background: #393c43;
$color-backdrop-well: darken($color-backdrop, 2.5%);
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%);
$color-focus-shadow: rgba($color-brand-primary, 0.25);
$color-muted-select-background: $color-backdrop;
$color-progress-spinner-loading1: $color-brand-primary;
$color-progress-spinner-loading2: $color-backdrop;

$document-link-glosstip-hover: #00b1f1;
$document-link-glosstip-bg: rgba($document-link-glosstip-hover, 0.1);
$document-link-bibliography: #b9c6ae;
$document-link-page: #2a628f;
$document-link-figure: #8a95a5;
$document-link-external: #8a95a5;
$document-link-web-external: #a4a29e;
$document-link-web-internal: #a4a29e;

// Bootstrap overrides
// ---------------------------
$primary: $color-brand-primary;
$body-bg: $color-primary-background;
$body-color: #dbdddc;
$input-color: $body-color;
$link-color: #00b1f1;
$input-border-color: $color-brand-primary;
$custom-select-bg: $color-brand-primary;
$custom-select-color: $body-color;
$custom-select-border-color: $color-brand-primary;
$custom-control-indicator-bg: $color-brand-primary;
$input-bg: $color-brand-primary;
$modal-content-bg: $color-primary-background;
$dropdown-link-color: $body-color;
$dropdown-border-color: lighten($color-primary-background, 10%);
$dropdown-link-hover-bg: lighten($color-primary-background, 5%);
$dropdown-link-hover-color: $body-color;
$dropdown-link-active-bg: darken($color-primary-background, 20%);
// Darkens all alert colors
$alert-bg-level: 10;
$alert-border-level: 1;
$alert-color-level: -10;

// Addon overrides
// ---------------------------
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%);
$ember-power-select-focus-border-color: lighten($primary, 25%);
$ember-power-select-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
$floating-label-control-focus-background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    $color-brand-primary 48%
) !default;
// Why is there a duplicate overriding this?
$ember-basic-dropdown-content-background-color: $color-backdrop;

$ember-content-placeholders-primary-color: $color-backdrop;
$ember-content-placeholders-secondary-color: $color-brand-primary;

// ---------------------------
// Common app styles
// ---------------------------

@import '../common';

.bg-gradient-primary {
    background-color: $color-brand-primary !important;
    background-image: none;
}

.ember-basic-dropdown-content {
    background-color: $color-primary-background !important;
}

.text-dark {
    color: $body-color !important;
}

.shepherd-element.dark {
    background-color: $link-color !important;
    color: $body-color !important;
    .shepherd-text {
        color: $body-color !important;
    }
    .shepherd-button {
        background-color: $color-primary-background !important;
    }
    .shepherd-header {
        background-color: $color-primary-background !important;
        .shepherd-title {
            color: $body-color !important;
        }
    }
    .shepherd-arrow::before {
        background-color: $link-color !important;
    }
}

.svg-inline--fa {
    color: $body-color;
}

.fa-stack {
    .fa-stack-2x {
        color: $body-color;
    }
    .fa-stack-1x {
        color: $color-brand-primary;
    }
}
