// ---------------------------
// Web Fonts
// ---------------------------
@import '../fonts';
// ---------------------------
// Global variables
// ---------------------------
@import '../variables';
// ---------------------------
// Theme variables
// ---------------------------
@import '../variables-theme';

// Application variables
// ---------------------------
$logo-path: '/assets/images/logo-high-contrast.jpg';
$color-brand-primary: #03a678;
$color-primary-background: #fff;
$color-backdrop: #fff;
$color-tooltip-background: $color-backdrop;
$color-preview-background: $color-backdrop;
$color-backdrop-well: darken($color-backdrop, 2.5%);
$color-primary-well: $color-backdrop;
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%);
$color-focus-shadow: rgba($color-brand-primary, 0.25);
$color-sidebar-bg: lighten($color-backdrop, 2%);
$color-footer-bg: $color-brand-primary;
$color-navbar-toggle: saturate(lighten($color-brand-primary, 20%), 20%);
$color-drawer-bg: $color-brand-primary;
$color-help-tooltip-foreground: #a2aeb9;
$color-help-tooltip-background: $color-primary-background;
$gradient-primary: linear-gradient(
    to right,
    $color-brand-primary 0,
    saturate(lighten($color-brand-primary, 20%), 20%) 100%
);

$document-link-glosstip-hover: #03a678;
$document-link-glosstip-bg: rgba($document-link-glosstip-hover, 0.1);
$document-link-bibliography: #12130f;
$document-link-page: #1d84b5;
$document-link-figure: #71697a;
$document-link-external: #a98743;
$document-link-web-external: #f7c548;
$document-link-web-internal: #305252;

// Bootstrap overrides
// ---------------------------
$font-size-base: 1.05rem;
$font-size-secondary: 0.9rem;
$font-size-app-base: 1.05rem;
$font-size-normal: 1.05rem;

$primary: $color-brand-primary;
$body-bg: $color-backdrop;
$link-color: $primary;
$body-color: #000;
$link-color: $color-brand-primary;
$alert-bg-level: 10;
$alert-border-level: 1;
$alert-color-level: -10;
$navbar-dark-color: #20603c;
$navbar-dark-active-color: #000;
$navbar-dark-hover-color: darken($color-brand-primary, 25%);
$navbar-dark-disabled-color: #4d6066;

// Addon overrides
// ---------------------------
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%);
$ember-power-select-focus-border-color: lighten($primary, 25%);
$ember-power-select-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);

// ---------------------------
// Common app styles
// ---------------------------
@import '../common';

// TODO eventually move these into core styles and make them var-driven
// theme files should have no css rules of their own, only vars
.text-black-50 {
    color: rgba(#000, 0.75) !important;
}
.text-white-50 {
    color: rgba(#fff, 0.75) !important;
}
