// ---------------------------
// Web Fonts
// ---------------------------
@import '../fonts';
// ---------------------------
// Global variables
// ---------------------------
@import '../variables';
// ---------------------------
// Theme variables
// ---------------------------
@import '../variables-theme';

// Application variables
// ---------------------------
$logo-path: '/assets/images/logo-tomato.jpg';
$color-brand-primary: #bf3c30;
$color-primary-background: #fff;
$color-backdrop: #fbf5f2;
$color-preview-background: $color-backdrop;
$color-tooltip-background: $color-backdrop;
$color-backdrop-well: darken($color-backdrop, 2.5%);
$color-primary-well: $color-backdrop;
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%);
$color-focus-shadow: rgba(#bf3c30, 0.25);
$color-sidebar-bg: lighten($color-backdrop, 2%);
$color-footer-bg: $color-brand-primary;
$color-navbar-toggle: saturate(lighten($color-brand-primary, 20%), 20%);
$color-drawer-bg: $color-brand-primary;
$color-help-tooltip-foreground: #a2aeb9;
$color-help-tooltip-background: $color-primary-background;
$color-search-item-bg: $color-backdrop;
$gradient-primary: linear-gradient(
    to right,
    $color-brand-primary 0,
    saturate(lighten($color-brand-primary, 20%), 20%) 100%
);

$document-link-glosstip-hover: $color-brand-primary;
$document-link-glosstip-bg: rgba($color-brand-primary, 0.1);
$document-link-bibliography: #4e89ae;
$document-link-page: #43658b;
$document-link-figure: #89c9b8;
$document-link-external: #ffa372;
$document-link-web-external: #bbcbcc;
$document-link-web-internal: #84a9ac;
// Bootstrap overrides
// ---------------------------
$primary: #bf3c30;
$body-bg: $color-backdrop;
$link-color: saturate(lighten($primary, 10%), 20%);
// Addon overrides
// ---------------------------
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%);
$ember-power-select-focus-border-color: lighten($primary, 25%);
$ember-power-select-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);

// ---------------------------
// Common app styles
// ---------------------------
@import '../common';
