// ---------------------------
// Web Fonts
// ---------------------------
@import '../fonts';
// ---------------------------
// Global variables
// ---------------------------
@import '../variables';
// ---------------------------
// Theme variables
// ---------------------------
// Application variables
$logo-path: '/assets/images/logo-tomato.jpg';
$color-brand-primary: #bf3c30;
$color-backdrop: #fbf5f2;
$color-backdrop-well: darken($color-backdrop, 2.5%);
$color-divider: rgba(#000, 0.06);
$color-progress-spinner-loading1: rgba(0, 0, 0, 0.25);
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%);
$color-mask-background: rgba(#000, 0.4);
// Addon overrides
$button-spinner-loading-color1: rgba(#fff, 0.75);
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%);
// Bootstrap overrides
$enable-shadows: false;
$primary: #bf3c30;
$link-color: saturate(lighten($primary, 10%), 20%);
$font-size-base: $font-size-app-base;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$hr-border-color: rgba(#000, 0.06);
$dropdown-border-color: #dbdbdb;
$dropdown-border-radius: 0.21rem;

// ---------------------------
// Common app styles
// ---------------------------
@import '../common';
