$document-font-size: 1rem;
$document-paragraph-indent: 1rem;

.document-text {
    h1 {
        font-weight: bold;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &.toggle {
            font-size: 6pt;
            position: relative;
            bottom: 8px;
        }
        &.url {
            font-weight: bold;
        }
        &.bibx {
            font-weight: bold;
            font-size: 8pt;
            position: relative;
            bottom: 1px;
        }
        &.def,
        &.figx,
        &.pgx,
        &.tblx,
        &.hdix,
        &.volx,
        &.issuex,
        &.webx,
        &.bib {
            font-weight: bold;
        }

        &.whocitedthis {
            font-size: 11pt;
            font-weight: bold;
        }
        &.author {
            font-weight: bold;
        }
    }

    p {
        &.banner {
            margin-top: 0pt;
            margin-bottom: 3pt;
        }
        &.heading {
            font-size: 7pt;
            margin-top: 0pt;
            margin-bottom: 3pt;
        }
        &.newsecnm {
            font-size: 10pt;
            font-weight: bold;
            text-align: right;
            margin-top: 0pt;
            margin-bottom: 6pt;
        }
        &.title {
            font-size: 14pt;
            font-weight: bold;
            text-align: center;
            margin-top: 0pt;
            margin-bottom: 3pt;
        }
        &.subtitle {
            font-size: 10pt;
            font-weight: bold;
            text-align: center;
            margin-top: 9pt;
            margin-bottom: 9pt;
        }
        &.title-author {
            text-align: center;
            margin-bottom: 3pt;
            margin-top: 0pt;
            font-size: 12pt;
            font-style: italic;
            font-weight: bold;
        }
        &.para {
            text-indent: $document-paragraph-indent;
        }
        &.autaffname {
            text-align: center;
            margin-top: 3pt;
            margin-bottom: 0pt;
            font-weight: bold;
        }
        &.autaffbio {
            text-align: center;
            margin-top: 10pt;
            margin-bottom: 0pt;
            font-style: italic;
        }
        &.autaffaddr {
            text-align: center;
            margin-top: 0pt;
            margin-bottom: 0pt;
            font-style: italic;
        }
        &.ftn {
            font-size: 9pt;
            margin-left: 0pt;
            margin-top: 0pt;
            margin-bottom: 0pt;
            margin-right: 0pt;
        }

        &.figure {
            display: flex;
            justify-content: center;
            margin-top: 3pt;
            margin-bottom: 3pt;
            text-align: center;
        }
        &.figtitle {
            margin-top: 3pt;
            margin-bottom: 3pt;
            text-align: center;

            font-size: 10pt;
            font-weight: bold;
        }
        &.note {
            font-size: 9pt;
            margin-top: 3pt;
            margin-bottom: 3pt;
            margin-right: 0px;
            text-indent: 18pt;
        }
        &.note_cont {
            font-size: 9pt;
            margin-top: 3pt;
            margin-bottom: 3pt;
            margin-right: 0px;
            text-indent: 18pt;
        }
    }

    span {
        &.ftnlabel {
            font-size: 80%;
            position: relative;
            bottom: 3px;
        }
        &.ftrlabel {
            font-size: 80%;
            position: relative;
            bottom: 3px;
        }
        &.notelabel {
            font-size: 80%;
            position: relative;
            bottom: 3px;
        }
        &.su {
            font-size: 80%;
            position: relative;
            bottom: 3px;
        }
        &.bibtip {
            font-weight: bold;
            cursor: pointer;
            font-weight: bold;
        }
        &.glosstip:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.smallcaps {
            font-size: 0.8em;
        }
    }

    div {
        &.boxed-text {
            border: 1px solid black;
            padding: 5px 10px;
            margin: 10px 0;
        }
        &.artauth {
            display: flex;
            justify-content: center;
        }
        &.footer {
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 25%;
                left: 0%;
                border-top: 1px solid;
            }
        }
    }

    tr {
        &.abstract {
            p {
                margin: 0 0 5px;
            }
        }
    }

    // GLOSSARY ITEMS
    .dictentrygrp {
        & p {
            text-indent: 0px;
        }
        & h1 {
            font-size: small;
        }
        & > .dictentry-src,
        & > .body,
        & > .seemore,
        & > .defrest,
        & > .dictentry-bib,
        & > .dictentry-dictalso,
        & > .dictentrygrp-dictalso {
            margin-left: 15px;
        }

        &-term {
            font-weight: bold;
            border-top: 1px solid black;
        }
    }

    .dictentry-term {
        font-weight: bold;
    }

    .dictalso-term {
        font-weight: bold;
    }
    .dictentrygrp-dictalso-term {
        font-weight: bold;
    }
    .dictentry-src {
        font-weight: bold;
        font-style: italic;
    }
}
