<Page::Content>
    <div class="py-3 px-4">
        <h4 class="mb-3">
            {{t "fiveHundred.title"}}
            <span class="text-muted">{{t "fiveHundred.subtitle"}}</span>
        </h4>
        <p>{{t "fiveHundred.message"}}</p>
    </div>
</Page::Content>
