<Page::Content>
    {{#if this.noResults}}
        <div class="d-flex h-50 justify-content-center align-items-center">
            <div class="px-4 py-5 text-muted">
                {{#if this.hasSubmittedSearch}}
                    No results found. Try using different search terms or phrases to find what you're looking for.
                {{else}}
                    Use the form on the left to enter terms or phrases and search our publication database.
                {{/if}}
            </div>
        </div>
    {{else}}
        <div class="py-3 px-4">
            {{#if this.model.length}}
                <div>
                    <h4>
                        {{this.metadata.total}}
                        <span class="text-muted">results</span>
                    </h4>
                </div>
            {{/if}}
            {{#if this.isLoadingPage}}
                <div class="d-flex align-items-center">
                    <Progress::Spinner class="mr-1" />
                    <span class="text-muted">Loading results...</span>
                </div>
            {{/if}}
        </div>
    {{/if}}
</Page::Content>
