<ContentPlaceholders @rounded={{true}} as |CP|>
    <div class="mb-3">
        <div class="w-50">
            <CP.heading />
        </div>
    </div>
    <CP.heading />
    <CP.text @lines={{2}} />
    <CP.heading />
    <CP.text @lines={{1}} />
    <CP.heading />
    <CP.text @lines={{4}} />
    <CP.heading />
    <CP.text @lines={{1}} />
    <CP.heading />
    <CP.text @lines={{1}} />
</ContentPlaceholders>
