<CollapsiblePanel
    @title="Glossary terms"
    @isOpen={{this.isOpen}}
    @toggle={{fn (mut this.isOpen)}}
    class="mb-2"
    ...attributes
>
    <ul class="word-cloud text-muted mb-3">
        <li>Lacan</li>
        <li>psychoanalytical</li>
        <li>family</li>
        <li>delusions</li>
        <li>anxiety</li>
        <li>Freud</li>
        <li>emotions</li>
        <li>fear</li>
        <li>religion</li>
        <li>parenting</li>
        <li>feminism</li>
        <li>behavior</li>
    </ul>
    <p class="mb-0">
        <a href="#">
            View complete glossary <FaIcon @icon="arrow-right" />
        </a>
    </p>
</CollapsiblePanel>
