<div class="collapsible-panel primary-bg" ...attributes>
    {{yield
        (hash
            header=(component "collapsible-panel/header" toggle=this.toggle isOpen=@isOpen)
            body=(component
                "collapsible-panel/body"
                transition=this.animateTransition
                animateDuration=this.animateDuration
                isOpen=@isOpen
            )
        )
    }}
</div>