<AnimatedContainer>
    {{#animated-if @isOpen use=@transition duration=@animateDuration}}
        <div class="collapsible-panel-body border-divider-t" ...attributes>
            {{yield}}
        </div>
    {{/animated-if}}
</AnimatedContainer>