.report-data-error {
    &-form {
        .radio-input-group {
            width: fit-content;
        }

        textarea {
            min-height: 4rem;
        }

        .input-validator-error {
            padding-top: 0;
        }
    }
}
