<Page::Sidebar @side="right">
    <Page::Sidebar::Content @scrollableNamespace="sidebar-right">
        {{#if this.showLoginWidget}}
            <div class="px-2 pt-3">
                <Page::Sidebar::Widgets::SignIn />
            </div>
        {{else}}
            <Page::Sidebar::Widgets @widgets={{this.rightSidebarWidgets}} @data={{@data}} class="pt-3" />
        {{/if}}
    </Page::Sidebar::Content>
</Page::Sidebar>