.btn-wide {
    min-width: 8rem;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark {
    box-shadow: inset 0 -3px 0 rgba($black, 0.2);

    &:focus,
    &.focus {
        box-shadow: inset 0 -3px 0 rgba($black, 0.2);
    }

    &:active,
    &.active {
        box-shadow: none;
    }
}
