button {
    &:focus {
        outline: none;
    }
}

.btn-wide {
    min-width: 8rem;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark {
    box-shadow: inset 0 -3px 0 rgba($black, 0.2);

    &:focus,
    &.focus {
        box-shadow: inset 0 -3px 0 rgba($black, 0.2), 0 0 0 0.2rem $color-focus-shadow;
    }

    &:active,
    &.active {
        box-shadow: none;

        &:not(:disabled):not(.disabled) {
            &:focus,
            &.focus {
                box-shadow: 0 0 0 0.2rem $color-focus-shadow;
            }
        }
    }
}

button.copy-btn {
    padding: 0;
    background: none !important;
    border: none !important;
}
