// webkit autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $input-color;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control-number-no-spin {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.form-control-inline {
    &-xs {
        width: 2rem;
    }

    &-sm {
        width: 4rem;
    }
}

.input-validator-compact {
    .input-validator-error {
        min-height: 0;
    }
}

.input-group-minimal {
    .input-group-text {
        color: $text-muted;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
        line-height: 1.2;
        border-right: 0;
        background-color: transparent;
    }

    .form-control {
        height: calc(1.2em + 0.5rem + 2px);
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        line-height: 1.2;
        background-color: transparent;
    }

    .input-group-prepend + .form-control {
        border-left: 0;
    }

    &:hover {
        background-color: rgba($white, 0.4);
    }
}
