html,
body {
    height: 100%;
    min-height: 100%;
    background-color: $color-backdrop;
    overflow: hidden;
}

body {
    padding-top: $navbar-height;
}

.application-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.application-content {
    display: flex;
    height: 100%;
    position: relative;
}

.page-content {
    position: relative;
    flex: 1 0 0;
    margin-left: -$sidebar-handle-width;
    margin-right: -$sidebar-handle-width;
    z-index: $z-page-content;

    &.page-content-sectioned {
        display: flex;
        flex-direction: column;
    }

    &-section {
        position: relative;
    }

    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &-heading {
        padding: 1.5rem 1.5rem 3rem 1.5rem;
        background-color: desaturate(darken($color-backdrop, 7%), 5%);
    }

    &-heading-inset {
        margin-top: -3.5rem;
    }

    @include media-breakpoint-down(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

.footer {
    min-height: $footer-height;
    background-color: $color-brand-primary;

    &-branding-img {
        height: 38px;
        margin-top: -11px;
        margin-bottom: -11px;
    }
}
