.navbar {
    &.fixed-top {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.1;

        &:focus {
            outline: none;
        }

        &-logo {
            background-image: url($logo-path);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 36px;
            height: 42px;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
        }

        img {
            height: 42px;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
        }
    }

    .nav-link {
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(#fff, 0.2);
            border-radius: 0.25rem;
        }
    }

    .navbar-toggler {
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba($white, 0.25);
        }
    }
}
