//class comes from PEP API via embedded HTML in search result keyword hits
.searchhit {
    font-weight: bold;
}

.pep-document-content,
.pep-abstract-preview {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    .footer {
        background-color: transparent;
    }
}
