.sidebar {
    position: relative;
    width: $sidebar-width;
    height: 100%;
    background-color: lighten($color-backdrop, 2%);

    &-collapsed {
        position: absolute;
    }

    &-left {
        border-right: 1px solid rgba($black, 0.06);

        &.sidebar-collapsed {
            left: -$sidebar-width;
        }
    }

    &-right {
        border-left: 1px solid rgba($black, 0.06);

        &.sidebar-collapsed {
            right: -$sidebar-width;
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
