.sidebar {
    position: relative;
    width: $sidebar-width + $sidebar-handle-width;
    height: 100%;
    flex-shrink: 0;
    transition: $duration-sidebar-toggle ease width;
    overflow: hidden;

    &.is-drag-resizing {
        transition: none;
    }

    &-mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: $z-sidebar-mask;
        background-color: $color-mask-background;
    }

    &-collapsed {
        width: $sidebar-handle-width;
    }

    &-inner {
        position: relative;
        width: $sidebar-width;
        height: 100%;
        background-color: lighten($color-backdrop, 2%);
        transition: $duration-sidebar-toggle ease transform;
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &-toggle-handle {
        position: absolute;
        top: 28px;
        padding: 8px 4px;
        border: 0;
        background: $color-primary-background;
        color: #ccc;
        z-index: $z-sidebar-handle;

        &:hover,
        &:focus {
            color: #999;
            outline: none;
        }
    }

    &-left {
        padding-right: $sidebar-handle-width;

        .sidebar-inner {
            border-right: 1px solid $color-divider;
            box-shadow: 1px 0 5px rgba($black, 0.04);
        }

        .sidebar-toggle-handle {
            right: 1px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 1px 1px 2px rgba($black, 0.1);
        }

        &.sidebar-collapsed {
            .sidebar-inner {
                transform: translateX(-$sidebar-width);
            }
        }
    }

    &-right {
        padding-left: $sidebar-handle-width;

        .sidebar-inner {
            border-left: 1px solid $color-divider;
            box-shadow: -1px 0 5px rgba($black, 0.04);
        }

        .sidebar-toggle-handle {
            left: 1px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            box-shadow: -1px 1px 2px rgba($black, 0.1);
        }

        &.sidebar-collapsed {
            .sidebar-inner {
                transform: translateX(0);
            }
        }
    }

    @include media-breakpoint-down(md) {
        position: fixed;
        z-index: $z-sidebar-overlay;
        top: $navbar-height;
        bottom: $footer-height;
        height: auto;

        &-left {
            left: 0;

            .sidebar-inner {
                box-shadow: 2px 0 14px rgba($black, 0.08);
            }
        }

        &-right {
            right: 0;

            .sidebar-inner {
                box-shadow: -2px 0 14px rgba($black, 0.08);
            }
        }

        &.other-sidebar-is-open {
            z-index: $z-sidebar-mask - 1;
        }
    }
}
