:focus {
    outline: 1px auto rgba(#000, 0.08);
}

.word-cloud {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
        list-style: none;
        display: inline;
        padding: 0.25rem;

        &:nth-of-type(3n + 1) {
            font-size: 1.25rem;
        }

        &:nth-of-type(4n + 3) {
            font-size: 1.75rem;
        }

        &:nth-of-type(5n - 3) {
            font-size: 1rem;
        }
    }
}
