:focus {
    outline: 1px auto rgba($black, 0.08);
}

.font-size-secondary {
    font-size: $font-size-secondary;
}

.font-size-normal {
    font-size: $font-size-normal;
}

.word-cloud {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
        list-style: none;
        display: inline;
        padding: 0.25rem;

        .btn {
            font-size: inherit;
        }
    }
}
