.bg-gradient-primary {
    background-image: linear-gradient(
        to right,
        $color-brand-primary 0,
        saturate(lighten($color-brand-primary, 20%), 20%) 100%
    );
}

.bg-backdrop-well {
    background-color: $color-backdrop-well;
}

.border-divider-b {
    border-bottom: 1px solid $color-divider;
}

.border-divider-t {
    border-top: 1px solid $color-divider;
}
