// ---------------------------
// Sizing
// ---------------------------
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .mw#{$infix}-25 {
            max-width: 25% !important;
        }
        .mw#{$infix}-50 {
            max-width: 50% !important;
        }
        .mw#{$infix}-75 {
            max-width: 75% !important;
        }
    }
}

// ---------------------------
// Backgrounds
// ---------------------------
.bg-gradient-primary {
    background-image: linear-gradient(
        to right,
        $color-brand-primary 0,
        saturate(lighten($color-brand-primary, 20%), 20%) 100%
    );
}

.bg-backdrop-well {
    background-color: $color-backdrop-well;
}

.bg-backdrop {
    background-color: $color-backdrop;
}

// ---------------------------
// Borders
// ---------------------------
.border-divider-b {
    border-bottom: 1px solid $color-divider;
}

.border-divider-t {
    border-top: 1px solid $color-divider;
}

// ---------------------------
// Pointer events
// ---------------------------
.pointer-events-none {
    pointer-events: none;
}

.highlight-even li:nth-child(even) {
    background-color: $color-backdrop;
}

.highlight-odd li:nth-child(odd) {
    background-color: $color-backdrop;
}

.primary-bg {
    background-color: $color-primary-background !important;
}
