// ---------------------------
// Sizing
// ---------------------------
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .mw#{$infix}-25 {
            max-width: 25% !important;
        }
        .mw#{$infix}-50 {
            max-width: 50% !important;
        }
        .mw#{$infix}-75 {
            max-width: 75% !important;
        }
    }
}

// ---------------------------
// Backgrounds
// ---------------------------
.bg-primary {
    background-color: $color-primary-background !important;
}

.bg-primary-well {
    background-color: $color-primary-well;
}

.bg-gradient-primary {
    background: $gradient-primary;
}

.bg-backdrop-well {
    background-color: $color-backdrop-well;
}

.bg-backdrop {
    background-color: $color-backdrop;
}

.bg-body {
    background-color: $body-bg;
}

// ---------------------------
// Borders
// ---------------------------
.border-divider-b {
    border-bottom: 1px solid $color-divider;
}

.border-divider-t {
    border-top: 1px solid $color-divider;
}

.border-divider-l {
    border-left: 1px solid $color-divider;
}

.border-transparent {
    border-color: transparent !important;
    &.border-primary {
        border-color: $color-brand-primary !important;
    }
}

.border-w-2 {
    border-width: 2px !important;
}
.border-w-3 {
    border-width: 3px !important;
}
.border-w-4 {
    border-width: 4px !important;
}

// ---------------------------
// Pointer events
// ---------------------------
.pointer-events-none {
    pointer-events: none;
}

.highlight-even li:nth-child(even) {
    background-color: $color-backdrop;
}

.highlight-odd li:nth-child(odd) {
    background-color: $color-backdrop;
}

// ---------------------------
// Text / Font
// ---------------------------
.text-justify {
    text-align: justify !important;
}
.x-small {
    font-size: 45%;
    font-weight: 400;
}
