// ---------------------------
// Application variables
// ---------------------------
$progress-bar-height: 5px;
$progress-bar-duration: 3s;
$progress-bar-delay: 1.5s;

//COLORS
$color-brand-primary: #313b46;
$color-backdrop: #e9eef1;

//DIMENSIONS
$sidebar-width: 320px;

// ---------------------------
// Addon overrides
// ---------------------------

// ---------------------------
// Bootstrap overrides
// ---------------------------

// ---------------------------
// Template overrides
// ---------------------------
