// ---------------------------
// Application variables
// ---------------------------
$progress-bar-height: 5px;
$progress-bar-duration: 3s;
$progress-bar-delay: 1.5s;

//COLORS
$color-brand-primary: #313b46;
$color-backdrop: #e9eef1;
$color-divider: rgba(#000, 0.06);

//DIMENSIONS
$sidebar-width: 320px;

// ---------------------------
// Addon overrides
// ---------------------------

// ---------------------------
// Bootstrap overrides
// ---------------------------
$primary: #2f4764;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// ---------------------------
// Template overrides
// ---------------------------
