// ---------------------------
// Application variables
// ---------------------------
//DIMENSIONS
$navbar-height: 58px;
$footer-height: 40px;
$footer-brand-img-height: 34px;
$sidebar-width: 305px;
$sidebar-handle-width: 16px;
$drawer-width: 305px;
$search-preview-collapsed-height: 18rem;
$progress-bar-height: 5px;
$progress-spinner-loading-border-width: 2px;
$progress-spinner-loading-size: 15px;
$progress-spinner-loading-border-width-lg: 4px;
$progress-spinner-loading-size-lg: 50px;
$drag-bar-thickness: 5px;

//Z-INDICES / LAYERING
$z-page-content: 2;
$z-sidebar-mask: 5;
$z-sidebar-overlay: 10;
$z-sidebar-handle: 10;
$z-drawer-mask: 1035;
$z-drawer-content: 1036;
$z-drag-bar-mask: 2000;
$z-notifications: 9999999;
$z-information-bar: 99999999;

//TIMING
$duration-sidebar-toggle: 0.3s;
$duration-search-preview-toggle: 0.3s;
$duration-progress-bar: 3s;
$duration-progress-bar-delay: 1.5s;

//TYPOGRAPHY
$font-size-app-base: 0.875rem;
$font-size-secondary: 0.75rem;
$font-size-normal: 1rem;

// ---------------------------
// Bootstrap / Addon overrides
// ---------------------------
$ember-basic-dropdown-content-z-index: 1050;
$floating-label-control-label-size: $font-size-app-base;
$alert-border-level: 6;
