// ---------------------------
// Application variables
// ---------------------------
$logo-path: '/assets/images/logo.jpg';
$white: #fff;
$color-brand-primary: #313b46;
$color-backdrop: #e9eef1;
$color-backdrop-well: darken($color-backdrop, 2.5%);
$color-divider: rgba(#000, 0.06);
$color-progress-spinner-loading1: rgba(0, 0, 0, 0.25);
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%);
$color-mask-background: rgba(#000, 0.4);
$color-focus-shadow: rgba(#426082, 0.25);
// ---------------------------
// Addon overrides
// ---------------------------
$button-spinner-loading-color1: rgba(#fff, 0.75);
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%);

// ---------------------------
// Bootstrap overrides
// ---------------------------
$enable-shadows: false;
$primary: saturate(lighten($color-brand-primary, 15%), 15%);
$link-color: saturate($primary, 10%);
$font-size-base: $font-size-app-base;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$hr-border-color: rgba(#000, 0.06);
$dropdown-border-color: #dbdbdb;
$dropdown-border-radius: 0.21rem;
$table-border: #e9e9e9;
