// ---------------------------
// Application variables
// ---------------------------
$logo-path: '/assets/images/logo.jpg' !default;
$color-brand-primary: #313b46 !default;
$color-backdrop: #e9eef1 !default;
$color-primary-background: #fff !default;
$color-preview-background: $color-primary-background !default;
$color-tooltip-background: $color-backdrop !default;
$color-backdrop-well: darken($color-backdrop, 2.5%) !default;
$color-primary-well: $color-backdrop !default;
$color-divider: rgba(#000, 0.06) !default;
$color-progress-spinner-loading1: rgba(0, 0, 0, 0.25) !default;
$color-progress-spinner-loading2: saturate(lighten($color-brand-primary, 35%), 45%) !default;
$color-mask-background: rgba(#000, 0.4) !default;
$color-focus-shadow: rgba(#426082, 0.25) !default;
$color-muted-select-background: #f5f5f5 !default;
$color-muted-select-text: #666666 !default;
$color-sidebar-bg: lighten($color-backdrop, 2%);
$color-footer-bg: $color-brand-primary !default;
$color-navbar-toggle: saturate(lighten($color-brand-primary, 20%), 20%) !default;
$color-navbar-box-shadow: #fff;
$color-drawer-bg: $color-brand-primary !default;
$color-help-tooltip-foreground: #a2aeb9 !default;
$color-help-tooltip-background: $color-primary-background !default;
$color-search-item-bg: $color-backdrop !default;
$color-information-bar-bg: $color-primary-background !default;
$gradient-primary: linear-gradient(
    to right,
    $color-brand-primary 0,
    saturate(lighten($color-brand-primary, 20%), 20%) 100%
) !default;

$document-link-glosstip-hover: #28abb9 !default;
$document-link-glosstip-bg: rgba($document-link-glosstip-hover, 0.1) !default;
$document-link-bibliography: #32e0c4 !default;
$document-link-page: #2d6187 !default;
$document-link-figure: #f5a25d !default;
$document-link-external: #a8dda8 !default;
$document-link-web-external: #fa7f72 !default;
$document-link-web-internal: #94b4a4 !default;
$preview-notice-bg: #e9eef1 !default;

// ---------------------------
// Bootstrap overrides
// ---------------------------
$enable-shadows: false !default;
$primary: saturate(lighten($color-brand-primary, 15%), 15%) !default;
$body-bg: $color-backdrop;
$link-color: saturate($primary, 10%) !default;
$font-size-base: $font-size-app-base !default;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$headings-font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$hr-border-color: rgba(#000, 0.06) !default;
$dropdown-border-color: #dbdbdb !default;
$dropdown-border-radius: 0.21rem !default;
// ---------------------------
// Addon overrides
// ---------------------------
$button-spinner-loading-color1: rgba(#fff, 0.75) !default;
$button-spinner-loading-color2: saturate(lighten($color-brand-primary, 35%), 45%) !default;
$ember-power-select-border-color: #ced4da !default;
$ember-power-select-focus-border-color: lighten($primary, 25%) !default;
$ember-power-select-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !default;
$ember-power-select-trigger-icon-color: #afafaf !default;
$ember-power-select-line-height: 1.5 !default;
