<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    ...attributes
 as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.yourInterests.title"}} />
    <Panel.body>
        <ul>
            {{!-- template-lint-disable no-bare-strings --}}
            <li>This is an interest</li>
            <li>Here is another interest</li>
            <li>Here's another thing I like</li>
            <li>Something else</li>
            <li>Yet another thing</li>
        </ul>
    </Panel.body>
</CollapsiblePanel>
