{{page-title (t "browse.title")}}
<Page::Content>
    <div class="py-3 px-4">
        <h4 class="mb-3">
            {{t "browse.title"}}
        </h4>
        {{!-- "Browse" landing page --}}
    </div>
</Page::Content>
