<div class="p-3" ...attributes>
    <div class="sidebar-widget-accolades-journals">
        <h5>{{t "relatedInfo.widgets.accolades.journals.title"}}</h5>
        <p>
            {{t "relatedInfo.widgets.accolades.journals.content"}}
        </p>
    </div>
    <div class="sidebar-widget-accolades-books">
        <h5>{{t "relatedInfo.widgets.accolades.books.title"}}</h5>
        <p>
            {{t "relatedInfo.widgets.accolades.books.content"}}
        </p>
    </div>
</div>
