<div class="p-2" ...attributes>
    <div class="p-3 mb-3 sidebar-widget-accolades-section sidebar-widget-accolades-journals">
        <div class="sidebar-widget-accolades-section-inner">
            {{#if this.configuration.content.home.newsAndInfo.boxOne.heading}}
                <h5>{{html-safe this.configuration.content.home.newsAndInfo.boxOne.heading}}</h5>
            {{/if}}
            <p class="font-size-secondary mb-0">
                {{html-safe this.configuration.content.home.newsAndInfo.boxOne.body}}
            </p>
        </div>
    </div>
    <div class="p-3 mb-3 sidebar-widget-accolades-section sidebar-widget-accolades-books">
        <div class="sidebar-widget-accolades-section-inner">
            {{#if this.configuration.content.home.newsAndInfo.boxTwo.heading}}
                <h5>{{html-safe this.configuration.content.home.newsAndInfo.boxTwo.heading}}</h5>
            {{/if}}
            <p class="font-size-secondary mb-0">
                {{html-safe this.configuration.content.home.newsAndInfo.boxTwo.body}}
            </p>
        </div>
    </div>
    <div class="p-3 sidebar-widget-accolades-section sidebar-widget-accolades-videos">
        <div class="sidebar-widget-accolades-section-inner">
            <h5>125 Quality Videos </h5>

            <p class="font-size-secondary mb-0">
                <p align="center">
                    <a href="../../browse/document/PEPTOPAUTHVS.001.0021A">
                        <img
                            style="object-fit: cover"
                            src="https://video.pep-web.org/pepvideomatrix.jpg"
                            alt=""
                            width="189"
                            height="197"
                        />
                    </a>
                </p>
            </p>
        </div>
    </div>
</div>