<div class="p-2" ...attributes>
    <div class="p-3 mb-2 sidebar-widget-accolades-section sidebar-widget-accolades-journals">
        <div class="sidebar-widget-accolades-section-inner">
            <h5>{{t "relatedInfo.widgets.accolades.journals.title"}}</h5>
            <p class="font-size-secondary mb-0">
                {{t "relatedInfo.widgets.accolades.journals.content"}}
            </p>
        </div>
    </div>
    <div class="p-3 mb-2 sidebar-widget-accolades-section sidebar-widget-accolades-books">
        <div class="sidebar-widget-accolades-section-inner">
            <h5>{{t "relatedInfo.widgets.accolades.books.title"}}</h5>
            <p class="font-size-secondary mb-0">
                {{t "relatedInfo.widgets.accolades.books.content"}}
            </p>
        </div>
    </div>
</div>
