<Page::Content>
    <div class="py-3 px-4">
        <h4 class="mb-3">
            {{t "fourOhThree.title"}}
            <span class="text-muted">{{t "fourOhThree.subtitle"}}</span>
        </h4>
        <p>{{t "fourOhThree.message"}}</p>
    </div>
</Page::Content>
