.search-form {
    &-term-control {
        position: relative;

        &-help {
            position: absolute;
            z-index: 2;
            bottom: -0.5rem;
            left: -0.75rem;
        }

        &-field {
            position: relative;

            &-text {
                padding-right: 6.75rem;
            }

            &-type {
                position: absolute;
                top: 4px;
                right: 4px;
                height: auto;
                width: 6.5rem;
                padding-left: 0.5rem;
                line-height: 1.25;
                font-size: 0.75rem;
                border: 0;
                background-color: $color-muted-select-background;
                color: $color-muted-select-text;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
