.search-form {
    &-term-control {
        position: relative;

        &-text {
            padding-right: 6.75rem;
        }

        &-type {
            position: absolute;
            top: 4px;
            right: 4px;
            height: auto;
            width: 6.5rem;
            padding-left: 0.5rem;
            line-height: 1.25;
            font-size: 0.75rem;
            border: 0;
            background-color: #f5f5f5;
            color: #666;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
