.search-preview {
    flex-shrink: 0;
    background-color: $color-backdrop;
    box-shadow: 0 -10px 6px -4px rgba($black, 0.1);
    transition: $duration-search-preview-toggle ease height;

    &.is-drag-resizing {
        transition: none;
    }

    &-minimized {
        height: $search-preview-collapsed-height;
    }

    &-maximized {
        height: 100%;
        box-shadow: none;
    }

    &-fit {
        max-height: 100%;
    }
}
