.search-results {
    &-control {
        display: flex;
        position: relative;
        border-right: 1px solid $color-divider;
        padding-right: 10px;
        padding-left: 10px;
        &-sidebar {
            border-right: none;
            padding-left: 0;
        }
        &-label {
            margin-right: 5px;
        }
    }
}
