<li class="nav-item">
    <a
        class="nav-link p-2 {{if (eq @id @selected) "active"}}"
        aria-expanded="true"
        href={{null}}
        {{on "click" (fn @onChange @id)}}
    >
        {{yield}}
    </a>
</li>