.drag-bar {
    position: absolute;
    z-index: 2;
    opacity: 0;
    background-color: lighten(saturate($primary, 30%), 10%);

    &:hover,
    &.is-dragging {
        opacity: 0.5;
    }

    &.horizontal {
        top: 0;
        left: 0;
        right: 0;
        height: $drag-bar-thickness;
        cursor: ns-resize;

        &.is-reversed {
            top: auto;
            bottom: 0;
        }
    }

    &.vertical {
        top: 0;
        right: 0;
        bottom: 0;
        width: $drag-bar-thickness;
        cursor: ew-resize;

        &.is-reversed {
            right: auto;
            left: 0;
        }
    }

    &-mask {
        position: absolute;
        z-index: $z-drag-bar-mask;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;

        &.horizontal {
            cursor: ns-resize;
        }

        &.vertical {
            cursor: ew-resize;
        }
    }
}
