.help-tooltip {
    height: 2em;
    font-size: 0.65rem;

    &-icon-background {
        color: $color-help-tooltip-background;
    }

    &-icon-foreground {
        color: $color-help-tooltip-foreground;
    }

    .svg-inline--fa.fa-stack-1x {
        width: 1.75em;
        height: 1.5em;
    }
}
