.information-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $color-information-bar-bg;
    transition: opacity 0.2s;
    background-clip: padding-box;
    overflow: hidden;
    will-change: opacity;
    z-index: $z-information-bar;
}
