.information-bar {
    background: $color-information-bar-bg;
    transition: opacity 0.2s;
    background-clip: padding-box;
    overflow: hidden;
    will-change: opacity;
    z-index: $z-information-bar;
}
