<Page::Content>
    <div class="py-3 px-4">
        <div class="d-flex align-items-center">
            <Progress::Spinner class="mr-1" />
            <span class="text-muted">Loading results...</span>
        </div>
    </div>
</Page::Content>
