<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn (mut this.isOpen)}}
    class="mb-2"
as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.expertPicks.title"}} />
    <Panel.body>
        {{!-- template-lint-disable no-bare-strings --}}
        <p>
            Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
        </p>
    </Panel.body>
</CollapsiblePanel>
