{{page-title (t "read.title")}}
<Page::Content>
    <div class="py-3 px-4">
        <h4 class="mb-3">
            {{t "read.title"}}
        </h4>
        {{!-- "Read" landing page. (What should go here?) --}}
    </div>
</Page::Content>
