<Page::Content>
    <div class="py-3 px-4">
        <div class="container">
            <h2 class="text-2xl font-bold">Book Previews</h2>
            <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            <div class="row">
                {{#each @model as |document|}}
                    <div class="col-6 col-md-4 col-xl-3">
                        <LinkTo @route="browse.read" @model={{document.id}}>
                            <Image
                                @source="/assets/images/784.jpg.webp"
                                alt={{t "alt.brandingImageUrl"}}
                                class="w-100 mb-2"
                            />
                            <span
                                class="mb-2"
                                style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;"
                            >
                                {{document.title}}
                            </span>
                            <span
                                style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;"
                            >
                                {{document.authorMast}}
                            </span>
                        </LinkTo>
                    </div>

                {{/each}}
            </div>
        </div>
    </div>
</Page::Content>