<Page::Sidebar @side="right">
    <div class="p-3">
        <h5>Related Info</h5>
        <CollapsiblePanel @title="Your past 5 searches">
            <ul>
                <li><a href="">Freud and Lacan</a></li>
                <li><a href="">emotional distress</a></li>
                <li><a href="">family discord</a></li>
                <li><a href="">separation and anxiety</a></li>
                <li><a href="">fear and loathing</a></li>
            </ul>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Your interests">
            <ul>
                <li>This is an interest</li>
                <li>Here is another interest</li>
                <li>Here's another thing I like</li>
                <li>Something else</li>
                <li>Yet another thing</li>
            </ul>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Glossary terms">
            <ul class="word-cloud mb-3">
                <li>Lacan</li>
                <li>psychoanalytical</li>
                <li>family</li>
                <li>delusions</li>
                <li>anxiety</li>
                <li>Freud</li>
                <li>emotions</li>
                <li>fear</li>
                <li>religion</li>
                <li>parenting</li>
                <li>feminism</li>
                <li>behavior</li>
            </ul>
            <p>
                <a href="">
                    View complete glossary <FaIcon @icon="arrow-right" />
                </a>
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="More like these">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Seminal papers">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Expert picks">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Revelant searches">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="What's New?">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Most cited">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
        <CollapsiblePanel @title="Most viewed">
            <p>
                Duis lacinia justo ut blandit aliquet. Nullam volutpat porttitor velit, nec vulputate tellus facilisis ut. Sed dui metus, ullamcorper eu mollis sed, venenatis sit amet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam molestie efficitur massa, eget suscipit nulla. Mauris tincidunt vehicula dolor, sit amet pellentesque odio eleifend nec.
            </p>
        </CollapsiblePanel>
    </div>
</Page::Sidebar>
