<Page::Sidebar @side="right" as |Sidebar|>
    <Sidebar.content>
        <div class="p-3">
            <h5 class="mb-3">{{t "relatedInfo.title"}}</h5>
            <Page::Sidebar::Widgets::WhatsNew />
            <Page::Sidebar::Widgets::MostViewed />
            <Page::Sidebar::Widgets::MostCited />
            <Page::Sidebar::Widgets::PastSearches />
            <Page::Sidebar::Widgets::YourInterests />
            <Page::Sidebar::Widgets::GlossaryTerms />
            <Page::Sidebar::Widgets::MoreLikeThese />
            <Page::Sidebar::Widgets::SeminalPapers />
            <Page::Sidebar::Widgets::ExpertPicks />
            <Page::Sidebar::Widgets::RevelantSearches />
        </div>
    </Sidebar.content>
</Page::Sidebar>
