<Page::Sidebar @side="right" as |Sidebar|>
    <Sidebar.content @scrollableNamespace="sidebar-right">
        <div class="px-3 pt-1">Close All</div>
        <div class="p-3">
            <Page::Sidebar::Widgets::WhatsNew />
            <Page::Sidebar::Widgets::MostViewed />
            <Page::Sidebar::Widgets::MostCited />
            <Page::Sidebar::Widgets::PastSearches />
            <Page::Sidebar::Widgets::YourInterests />
            <Page::Sidebar::Widgets::GlossaryTerms />
            <Page::Sidebar::Widgets::MoreLikeThese />
            <Page::Sidebar::Widgets::SeminalPapers />
            <Page::Sidebar::Widgets::ExpertPicks />
            <Page::Sidebar::Widgets::RevelantSearches />
        </div>
    </Sidebar.content>
</Page::Sidebar>
