<Page::Sidebar::Left as |Sidebar|>
    <Sidebar.content>
        <div class="p-3">
            <h5>
                {{t "browse.title"}}
            </h5>
        </div>
        <Tabs as |Tabs|>
            <Tabs.tab>
                Test
            </Tabs.tab>
        </Tabs>
    </Sidebar.content>
</Page::Sidebar::Left>