.page-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: $z-drawer-content;
    width: $drawer-width;
    visibility: hidden;
    background-color: $color-brand-primary;
    box-shadow: -2px 0 14px rgba($black, 0.4);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &-scrollable {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &-close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
        background: none;
        border: 0;
        color: rgba($white, 0.3);

        &:focus {
            outline: 0;
        }
    }

    &-header {
        position: relative;
        background-color: desaturate(darken($color-brand-primary, 2%), 2%);
        background-image: linear-gradient(to top, rgba($black, 0.075), transparent 10%);
        border-bottom: 1px solid rgba($white, 0.075);
    }

    &-brand {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.1;
        color: rgba($white, 0.8);

        &:focus {
            outline: none;
        }

        &-logo {
            background-image: url($logo-path);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 36px;
            height: 42px;
            border-radius: 3px;
            box-shadow: 1px 1px 0px rgba($black, 0.15);
        }

        img {
            height: 42px;
            box-shadow: 2px 2px 1px rgba($black, 0.3);
        }
    }

    &-content {
        .list-group {
            .list-group-item {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                background-color: transparent;
                border: 0;
                color: rgba($white, 0.75);
                border-radius: $border-radius;

                &.active {
                    color: $white;
                    background-color: rgba($white, 0.05);
                }

                &:focus {
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba($white, 0.25);
                }
            }
        }
    }

    &-nav-menu {
        .collapsible-panel-header {
            padding: 0.75rem;
            color: rgba($white, 0.75);
            text-decoration: none;
            border-radius: $border-radius;
        }

        &.is-open {
            .collapsible-panel-header {
                color: $white;
                background-color: rgba($white, 0.05);
            }
        }
    }

    &-mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: $z-drawer-mask;
        background-color: $color-mask-background;
    }

    &.is-open {
        visibility: visible;
        transform: translateX(-100%);
    }
}
