.page-widget {
    .collapsible-panel-header {
        position: relative;
        .chart {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -10px;
        }
    }
}
