<LinkTo
    @route={{@route}}
    @model={{@item.id}}
    @activeClass="bg-backdrop"
    class="d-flex align-items-center justify-content-between p-1"
    ...attributes
>
    <span class="small w-90">
        {{yield}}
    </span>
</LinkTo>