<div class="page-content" role="main" ...attributes>
    {{#if this.scrollable}}
        <Scrollable @namespace={{this.scrollableNamespace}} class="page-content-inner">
            {{yield}}
        </Scrollable>
    {{else}}
        {{yield}}
    {{/if}}
</div>